[Desktop Entry]
Type=Application
Version=1.0
Name=Arrive
Comment=Simple and practical download manager
GenericName=download manager
Exec=arrive
Icon=arrive
Terminal=false
Categories=Network;GTK;
StartupNotify=true
Actions=AboutDialog;

[Desktop Action AboutDialog]
Exec=arrive --about
Name=About Arrive
